<!DOCTYPE html>
{% load static%}
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'app/css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'app/css/responsive.css'%}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <!-- Marca de la empresa -->
          <a class="navbar-brand" href="{% url 'Inicio' %}">
            <span>Rent4u</span>
          </a>
    
          <!-- Opciones del usuario -->
          <div class="navbar-collapse">
            <div class="user_option">
              {% if request.user.is_authenticated %}
                <a href="#" aria-label=>{{request.user.username}}</a>
                <a href="{% url 'Logout' %}" aria-label="Logout">Logout</a>  |   
                <a href="{% url 'EditarPerfil' %}" aria-label="EditarPerfil">Editar Perfil</a>
                <a href="{% url 'EditarPerfil' %}" aria-label="EditarPerfil">Editar Perfil</a>
              {%else%}
                <a href="{% url 'Login' %}" aria-label="Iniciar sesión">Login</a>
              {%endif%}

            </div>
    
            <!-- Botón de menú -->
            <div class="custom_menu-btn">
              <button onclick="openNav()" aria-expanded="false" aria-label="Abrir menú" aria-controls="myNav">
                <span class="s-1"></span>
                <span class="s-2"></span>
                <span class="s-3"></span>
              </button>
            </div>
    
            <!-- Menú desplegable -->
            <div id="myNav" class="overlay" aria-hidden="true">
              <div class="overlay-content">
                <a href="{% url 'Inicio' %}">Inicio</a>
                <a href="{% url 'Nosotros' %}">Acerca de</a>
                <a href="{% url 'Vehiculos' %}">Vehículos</a>
                <a href="{% url 'Blog' %}">Blog</a>
                <a href="{% url 'Contacto' %}">Contáctenos</a>
                <a href="{% url 'ListaAutos' %}">Lista de Autos</a>
                <a href="{% url 'Login' %}">Login</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="slider_container">
        <div class="img-box">
          <img src="{% static 'app/images/hero-img.jpg'%}" alt="">
        </div>
        <div class="detail_container">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="detail-box">
                  <h1>
                    Expertos <br>
                    en <br>
                  </h1>
                  {%if request.user.is_superuser%}
                  <a href="{% url 'ListaAutos' %}">Lista de Autos</a>
                  {%endif%}
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="detail-box">
                  <h1>
                    alquiler de <br>
                    autos<br>
                  </h1>
                  <a href="{% url 'ListaAutos' %}">Lista de Autos</a>
                  </a>
                </div>
              </div>
              </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      </div>
    </section>
    <!-- end slider section -->
     {%block main%}

     {% endblock main%}
  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      Copyright &copy; 2020 All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </footer>
  <!-- footer section -->

  <script src="{% static 'app/js/jquery-3.4.1.min.js'%}"></script>
  <script src="{% static 'app/js/bootstrap.js'%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="{% static 'app/js/custom.js'%}"></script>


</body>

</html>