{% extends "app/base.html" %}

{%load static%}

{% block title %} Logout {% endblock title %}


{%block main%}
  <!-- Logout-->
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <p class="fs-5 fw-bold">Usted se ha deslogueado, vuelva pronto</p>
        </div>
    </div>
</section>

  
  <script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.js' %}"></script>
  <script src="{% static 'app/js/custom.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>

</body>
{% endblock main%}